$midnightBlue: #090446;
$cgBlue: #2978a0;
$rosewood: #640d14;
$upMaroon: #800a13;
$phthaloGreen: #17301C;
$sacramentoGreen:#093824;
$gunMetal: #22333b;
$bloodRed: #6B0504;
$darkPurple: #37123C;
$culturedWhite: #eef0f2;
$graniteGray: #686868;